@font-face {

    font-family: "Into Black Regular";
    src: url("fonts/IntoBlack.ttf") format("truetype");
}
@font-face {

    font-family: "Flamme Let";
    src: url("fonts/FlammeLet.ttf") format("truetype");
}
@font-face {

    font-family: "Pacifico";
    src: url("fonts/Pacifico.ttf") format("truetype");
}
@font-face {

    font-family: "Arsenal Regular";
    src: url("fonts/ArsenalRegular.ttf") format("truetype");
}
@font-face {

    font-family: "Comfortaa Regular";
    src: url("fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
}
@font-face {

    font-family: "Comfortaa Bold";
    src: url("fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
}
.wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
    header{
            width: 100%;
            background: #bc33f2;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .logo{

            padding: 0.625em 0.5em 0.625em 3em;
            width: 10%;
            display: flex;
            justify-content: flex-end;
        }
        .name-site{
            color: white;
            padding: 0 0 0 0.5em;
            font-size: 2.6em;
            font-family: "Flamme Let";
            width: 60%;
        }
        .wrap-button-log-in{
            /*not used*/
            width: 10%;
            padding-right: 10px;
        }
        .wrap-button-sign-in{
            width: 10%;
            display: flex;
        }
        .log-in-name{
            font-family: "Into Black Regular";
            color: white;
            font-size: 16px;
            margin-right: 15px;
            display: flex;
            align-items: center;
        }
        .button-log-in{
            /*not used*/
            font-family: "Into Black Regular";
            color: #bbbbbf;
            text-decoration: none;
            outline: none;
            background: #ffffff;
            border: 0;
            border-radius: 3px;
            font-weight: 700;
            font-size: 13px;
            padding: 5px 16px;
        }
        .button-log-in:active{
            /*not used*/
            background: #bbbbbf;
            color: #ffffff;
        }
        .button-sign-in{
            font-family: "Into Black Regular";
            color: #ffffff;
            text-decoration: none;
            outline: none;
            background: #00ffff;
            border: 0;
            border-radius: 3px;
            font-weight: 700;
            font-size: 13px;
            padding: 5px 16px;
        }
        .button-sign-in:active{
            background: #ffffff;
            color: #00ffff;
        }
    .button-previous-posts{
        position: fixed;
        left: 0;
        top: 50%;
        text-decoration: none;
        outline: none;
        border: 0;
        background: #f24267;
        width: 50px;
        height: 100px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        z-index: 19;
    }
    .button-previous-posts:active{
        box-shadow: none;
        background: rgba(242, 66, 103, 0.53);
    }
    .button-next-posts{
        position: fixed;
        right: 0;
        top: 50%;
        text-decoration: none;
        outline: none;
        border: 0;
        background: #f24267;
        width: 50px;
        height: 100px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .button-next-posts:active{
        box-shadow: none;
        background: rgba(242, 66, 103, 0.53);
    }
    .button-next-previous-posts-img{
        width: 30px;
    }
    .content{
        width: 80%;
        margin: 0 auto;
    }
        .interface-panel-wrap{
            border-bottom: 1px solid rgba(0, 0, 0, 0.21);
            padding-bottom: 2em;
        }
            .interface-panel{
                margin-top: 2%;
                width: 100%;
                background: rgba(255, 241, 241, 0.5);
            }
                .interface-panel-left{
                    width: calc(60% - 2em);
                    padding-left: 2em;
                    padding-top: 2em;
                    padding-bottom: 2em;
                    float: left;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                    .sort-search-element{
                        margin-top: 0.5em;
                        float: left;
                        padding: 0 1em 0 1em;
                        font-family: "Arsenal Regular";
                        display: flex;
                        flex-direction: column;
                     }
                    .padding{
                        font-family: "Into Black Regular";
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                    .triangle{
                        width: 0;
                        height: 0;
                        border-bottom: 16px solid aqua;
                        border-left: 16px solid transparent;
                        margin-right: 0.625em;
                        float: left;
                    }
                    .more{
                        font-family: "Arsenal Regular";
                        color: #ffffff;
                        text-decoration: none;
                        outline: none;
                        background: #4e3beb;
                        border: #4e3beb 1px solid;
                        border-radius: 3px;
                        padding: 0.1em 0.4375em;
                        margin-bottom: 2px;
                    }
                    .more:active{
                        color: #ab08eb;
                        background: #ffffff;
                        border: #ab08eb 1px solid;
                    }
                    .sort-date{
                        text-decoration: none;
                        outline:  none;
                        border: #4e3beb solid 2px;
                        border-radius: 6px;
                    }
                .interface-panel-right{
                    width: calc(40% - 2em);
                    padding: 2em 0 2em 1em;
                    margin: 2em auto;
                    float: left;
                }
                    .button-add-post{
                        width: 120px;
                        height: 120px;
                        text-decoration: none;
                        outline: none;
                        border: 1px solid #ab08eb;
                        padding: 0;
                        background: #ab08eb;
                    }
                    .button-add-post:active{
                        background: rgba(171, 8, 235, 0.55);
                        border: rgba(171, 8, 235, 0.55);
                    }
                .clear-fix{
                    clear: both;
                }
        .post-panel-wrap{
            margin-top: 2em;

        }
            .post-panel{
                vertical-align: top;
                width: 90%;
                height: 802px;
                padding-top: 1em;
                padding-bottom: 1.5em;
                margin: 0 auto 3em;
                background: rgba(255, 241, 241, 0.5);
            }
                .post-panel-align{
                    vertical-align: top;
                    float: left;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
                    .post{
                        display: flex;
                        flex-direction: row;
                        margin-top: 12px;
                    }
                    .post-img-wrap{
                        position: relative;
                        width: 150px;
                        height: 150px;
                    }
                    .post-img{
                        width: 150px;
                    }
                    .button-remove{
                        font-family: "Arsenal Regular";
                        font-size: 0.8em;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #ffffff;
                        text-decoration: none;
                        outline: none;
                        background: #00ffff;
                        border: #00ffff 1px solid;
                        border-radius: 2.7px;
                        padding: 0.1em 0.4375em;
                        margin-top: 4px;
                        margin-left: 4px;
                        display: none;
                    }
                    .button-remove:active{
                        color: #00ffff;
                        background: #ffffff;
                        border: #00ffff 1px solid;
                    }
                    .button-edit{
                        font-family: "Arsenal Regular";
                        font-size: 0.8em;
                        position: absolute;
                        top: 25px;
                        left: 0;
                        color: #ffffff;
                        text-decoration: none;
                        outline: none;
                        background: #00ffff;
                        border: #00ffff 1px solid;
                        border-radius: 2.7px;
                        padding: 0.1em 0.4375em;
                        margin-top: 4px;
                        margin-left: 4px;
                        display: none;
                    }
                    .button-edit:active{
                        color: #00ffff;
                        background: #ffffff;
                        border: #00ffff 1px solid;
                    }
                    .button-like{
                        font-family: "Arsenal Regular";
                        font-size: 1em;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        color: #ffffff;
                        text-decoration: none;
                        outline: none;
                        background: #f24267;
                        border: #f24267 1px solid;
                        border-radius: 3px;
                        padding: 0.1em 0.4375em;
                        margin-bottom: 5px;
                        margin-right: 5px;
                    }
                    .button-like:active{
                        color: #ab08eb;
                        background: #ffffff;
                        border: #ab08eb 1px solid;
                    }
                    .post-tag-mobile{
                        display: none;
                        position: absolute;
                        right: 0;
                        bottom: 21px;
                        margin-bottom: 5px;
                    }
                    .nickname{
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: 5px;
                        margin-right: 5px;
                        font-family: "Arsenal Regular";
                    }
                    .date-tag-mobile{
                        display: none;
                    }
                    .info-post{
                        width: 9em;
                        height: 9em;
                        border: 3px solid #4f4f4f;
                        border-bottom-right-radius: 1em;
                        border-top-right-radius: 1em;
                        margin-left: 0.5em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .info-post-table{
                        width: calc(100% - 1em);
                        height: 95%;
                        padding-left: 0.3em;
                    }
                    .info-post-date{
                        font-family: "Into Black Regular";
                        height: 1.5625em;
                        padding: 0.15em 0 0.15em 0;
                        text-align: left;
                    }
                    .info-post-tags{
                        font-size: 0.8em;
                        font-family: "Comfortaa Bold";
                        vertical-align: top;
                        height: 35%;
                    }
                    .post-tags{
                        width: 3.2em;
                        font-size: 0.8em;
                        color: #ffffff;
                        text-decoration: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        outline: none;
                        background: rgba(171, 8, 235, 0.47);
                        border: #d084ee 1px solid;
                        border-radius: 3px;
                        padding: 1px 4px;
                        margin: 0.3em 0.6em 0.3em 0;
                        float: left;
                    }
                    .post-tag-more{
                        width: 2.5em;
                        font-size: 0.8em;
                        text-align: center;
                        color: #ab08eb;
                        text-decoration: none;
                        outline: none;
                        background: #ffffff;
                        border: #d084ee 1px solid;
                        border-radius: 3px;
                        padding: 1px 2px;
                        margin: 0.3em 0.6em 0.3em 0;
                        float: left;
                    }
                    .info-post-description{
                        vertical-align: top;
                        height: calc(65% - 32px);
                    }
                    .post-description{
                        font-family: "Arsenal Regular";
                        text-decoration: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 0.9em;
                        line-height: 1.15;
                        height: 50px;
                        width: 100%;
                        text-align: left;
                    }
    footer{
        font-family: "Arsenal Regular";
        color: white;
        width: 80%;
        margin: 0 auto;
        background: rgba(188, 51, 242, 0.81);
        line-height: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
@media screen and (max-width: 1000px){
    .interface-panel-left{
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .sort-search-element{
        border: none;
    }
    .interface-panel-right{
        width: 50%;
        padding-left: 0;
        margin-left: 25%;
        margin-right: 25%;
    }
    .button-add-post{
        width: 100%;
    }
}
@media screen and (max-width: 920px){
    .post-panel-align{
        width: 326.875px;
        margin-right: calc((100% - 326.875px)/2);
        margin-left: calc((100% - 326.875px)/2);
    }
    .post-panel{
        width: 90%;
        height: calc(2 * 802px);
        padding-top: 1em;
        padding-bottom: 1.5em;
        margin: 0 auto 3em;
        background: rgba(255, 241, 241, 0.5);
    }
}
@media screen and (max-width: 860px){
    .wrap-button-log-in{
        width: 71px;
        padding-right: 10px;
    }
    .wrap-button-sign-in{
        width: 81px;
    }
    .name-site{
        width: 40%;
    }
    .interface-panel-left{
        background: none;
    }
    .log-in-name{
        display: none;
    }
}
@media screen and (max-width: 585px){

    .interface-panel-left{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }
    .sort-search-element{
        float: none;
        background: rgba(250, 235, 215, 0.38);
        width: 70%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .name-site{
        width: 35%;
    }
}
@media screen and (max-width: 470px){
    footer{
        width: 100%;
        font-size: 0.8em;
    }
    .name-site{
        display: none;
    }
    .logo{
        width: 45px;
        height: 45px;
        padding-left: 0;
        padding-right: 4em;
    }
    .button-previous-posts,.button-next-posts{
        width: 35px;
    }
    .button-next-previous-posts-img{
        width: 25px;
    }
    .interface-panel-left{
        align-items: center;
    }
    .sort-search-element{
        margin: 5px;
        width: 70%;
    }
    .info-post{
        display: none;
    }
    .date-tag-mobile{
        font-family: "Arsenal Regular";
        display: block;
        font-size: 0.8em;
        padding-top: 2px;
        border-top: 1px solid #7d7d7d;
    }
    .post-tag-mobile{
        display: block;
        bottom: 0;
    }
    .button-like{
        font-size: 0.83em;
        bottom: 24px;
        margin-right: 0.6em;
        margin-bottom: 0.5em;
    }
    .button-add-post{
        width: 120px;
    }

}